<style type="text/css">
/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
	@media (max-width : 767px){
		.navbar-header{
			background: linear-gradient(to right, #1cb1d1, #2d8195);
			color: white;
		}
		.navbar-brand{
			color: white !important;
		}
		.navbar-collapse{
			border-bottom: 1px solid;
		}
	}
	@media (max-width : 991px){
		.imgDiv{
		    width: 50%;
	    	margin-top: 20%;
		}
	}
	.landingRow{
		background: linear-gradient(to right, #1cb1d1, #2d8195);
		/*background-image: url('/assets/background.png');*/
		height: 50px !important;
	}
	.topRow{
		margin-top: 20px;
		/*height: 5000px;*/
	}
	.imgDiv img{
		width: 70%;
		/*display: inline;*/
		vertical-align: top;
		margin: 3%;
	}
	.leftImgDiv{
		text-align: center;
		/*border: 1px solid black;*/
	}
	.rightImgDiv{
		text-align: center;
	}
	.rightTextDiv{
		text-align: justify;
	}
	.leftTextDiv .block{
		font-size: 0.9em;
	}
	.aboutHeader{
		margin-top: 20%;
		margin-bottom: 5%;
		text-align: center;
	}
	.awardsHeader{
		margin-top: 18%;
		margin-bottom: 5%;
		text-align: center;
	}
	.blue{
		color: #188eab;
		text-align: right;
	}
	.block{
		display: block;
	}
	.lastRow{
		/*margin-bottom: 5%;*/
	}
</style>
<div class="row landingRow">
</div>
<div class="container">
	<div class="row topRow">
		<div class="col-sm-6 leftImgDiv imgDiv">
		<%= image_tag('jillandron') %>
		<%= image_tag('greyhound-storefont') %>
		</div>
		<div class="col-sm-6 rightTextDiv">
		<h3 class="aboutHeader">About Us</h3>
		<p>From a small idea in a Greyhound bus station to innovative pioneezzr in the travel industry, Archer Travel, like the best of success stories, started with a simple dream and idea. Archer Travel was established in 1952 inside the lobby of the Glendale, CA Greyhound bus terminal by Cliff and Lola Archer. The Archers wanted to provide quality information and affordable travel arrangements for local residents and friends who wanted to see the world. They wanted to build a business that provided the highest levels of customer service and true value. Today, that commitment to quality and affordability is carried on by the Archer Family. Ron Archer is the son of the founders, and together with his wife Jill, they own and operate the company and carry on the tradition. Archer Travel Service, Inc. is made up of several divisions dedicated to providing value and dependability to tens of thousands of travelers each year. Archer Leisure Travel specializes in Hawaii, Mexico, Canada, Europe and the Caribbean. Archer Travel will provide a package just right for you and your budget.</p>
		</div>
	</div>
	<div class="row lastRow">
		<div class="col-sm-6 leftTextDiv">
		<h3 class="awardsHeader">Honors and Awards</h3>
		<div class="row">
			<div class="col-sm-6 blue">
				<span class="block">AMERICAN AIRLINES</span>
				<span class="block">CARNIVAL CRUISE LINES</span>
				<span class="block">CONTINENTAL AIRLINES</span>
				<span class="block">HERTZ</span>
				<span class="block">LEISURE TRAVEL GROUP</span>
				<span class="block">NORTHWEST AIRLINES</span>
				<span class="block">NORWEGIAN CRUISE LINES</span>
				<span class="block">PRINCESS CRUISE LINES</span>
				<span class="block">ROYAL CARIBBEAN CRUISE LINES</span>
				<span class="block">SCANDINAVIAN AIRLINES</span>
				<span class="block">UNITED AIRLINES</span>
				<span class="block">USAIRWAYS</span>
			</div>
			<div class="col-sm-6">
				<span class="block">Performance Award, Sales Achievement</span>
				<span class="block">Winners Circle</span>
				<span class="block">Outstanding Achievements in Aviation</span>
				<span class="block">Outstanding Performance</span>
				<span class="block">Million Dollar Sales Club</span>
				<span class="block">Bridging the Pacific</span>
				<span class="block">Outstanding Performance</span>
				<span class="block">Award for Outstanding Sales Performance</span>
				<span class="block">Viking Crown Award</span>
				<span class="block">Outstanding Cooperation and Support</span>
				<span class="block">Gold Plate Agency X 5 years</span>
				<span class="block">Top Producer Award</span>
			</div>
		</div>
		</div>
		<div class="col-sm-6 rightImgDiv imgDiv">
		<%= image_tag('hawaii-photo') %>
		</div>
	</div>
</div>