<style type="text/css">
	.landingRow{
		background: linear-gradient(to right, #1cb1d1, #2d8195);
		/*background-image: url('/assets/background.png');*/
		height: 50px;
	}
	.topRow{
		/*margin-top: 20px;*/
		/*height: 5000px;*/
	}
	.imgDiv img{
		width: 70%;
		/*display: inline;*/
		vertical-align: top;
		margin: 3%;
	}
	.leftImgDiv{
		font-size: 0.9em;
		text-align: center;
		/*border: 1px solid black;*/
	}
	.rightImgDiv{
		text-align: center;
	}
	.rightTextDiv{
		margin-top: 4%;
	}
	.leftTextDiv .block{
		font-size: 0.9em;
	}
	.aboutHeader{
		/*margin-top: 20%;*/
		text-align: center;
	}
	.awardsHeader{
		margin-top: 18%;
		margin-bottom: 5%;
		text-align: center;
	}
	.blue{
		color: #188eab;
		text-align: right;
	}
	.block{
		display: block;
	}
	.phoneRow{
		font-size: 1.2em;
	}
	.phoneRowTop{
		margin-top: 8%;
	    padding: 0% 5%;
	    text-align: justify;
	}
	.phoneRow div p{
		margin-bottom: 2%;
	}
	.modalButtons{
		text-align: center;
	}
	.phoneRowBottom{
		margin-top: 10%;
	}
	.btn-primary{
		background: linear-gradient(to bottom,#1cb0d0 0,#2d8296 100%);
		border-color: #2d8296;
	}
	.btn-primary:hover{
		background-color: linear-gradient(to bottom,#1cb0d0 0,#3d515b 100%);
		border-color: #2d8296;
		opacity: 1;
		background-position: 0px 0px;
	}


	.tabsDiv li a{
		color: #333;
	}
</style>
<div class="row landingRow">
</div>
<div class="container">
<div class="row">
	<h3 class="aboutHeader">1-800-ARCHERS</h3>
	<h4 class="aboutHeader">4148 Ocean View Blvd Montrose CA 91020</h4>
	<h4 class="aboutHeader">Monday-Friday 7AM - 5PM</h4>
</div>
	<div class="row topRow">
		<div class="col-sm-6 leftImgDiv imgDiv">
			<div class="row phoneRow phoneRowTop">
			<p>To get in touch or request vacation information, you can call us at 1-800-272-4377 (local: 1-818-248-1511) and speak with one of our travel consultants, or you may fill out the form below and one of our agents will reach out to you within the next business day:</p>
			</div>
			<div class="row phoneRow phoneRowBottom">
				<div class="col-sm-6">
					<p>Local: (818) 248-1511</p>
					<p>Toll Free: 800-272-4377</p>
					<p>Fax: (818) 248-1643</p>
				</div>
				<div class="col-sm-6">
					<p>Our office:</p>
					<p>4148 Ocean View Blvd</p>
					<p>Montrose, CA 91020</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 rightTextDiv">
		<div class="tabsDiv">

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		  </ul>

<!-- Tab panes -->
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="home">
	<form name="VPSearchForm"  method="post" action="http://www.latesttraveloffers.com/ci/enter.asp?site=VTHARC&amp;account=&amp;UseSearchApi=true" id="vacationForm" target="resultFrame">
	<input type="hidden" name="srchDestText">
	<div class="form-group">
	    <label for="srchTravType" class="col-lg-4 col-md-6 control-label">Travel Type</label>
	    <div class="col-lg-8 col-md-6">
			<select name="srchTravType" class="VP-SearchInput form-control">
				<option value="CRVA">Cruises/Vacation Pkgs</option>
				<option value="CRUZ">Cruises Only</option>
				<option value="PKG">Vacation Pkgs Only</option>
				<option value="TOUR">Tours Only</option>
				<option value="AUTO">International Auto</option>
				<option value="LODG">Lodging</option>
				<option value="AIR">Air Only</option>
			</select>
		</div>
	</div>
	<div class="form-group">
	    <label for="srchDestText1" class="col-lg-4 control-label col-md-6">Destination</label>
	    <div class="col-lg-8 dest col-md-6">
			<select name="srchDestText1" class="VP-SearchInput form-control">
				<option value="">Any Destination</option>
				<option value="Africa">Africa</option>
				<option value="Alaska">Alaska</option>
				<option value="Antarctica">Antarctica</option>
				<option value="Aruba">Aruba</option>
				<option value="Asia">Asia</option>
				<option value="Australia">Australia</option>
				<option value="Bahamas">Bahamas</option>
				<option value="Baltic">Baltic</option>
				<option value="Bermuda">Bermuda</option>
				<option value="Britain and Ireland">Britain and Ireland</option>
				<option value="California">California</option>
				<option value="Canada and New England">Canada and New England</option>
				<option value="Western Canada">Canada (Western)</option>
				<option value="Cancun">Cancun</option>
				<option value="Caribbean">Caribbean</option>
				<option value="Western Caribbean">Caribbean (Western)</option>
				<option value="Eastern Caribbean">Caribbean (Eastern)</option>
				<option value="Southern Caribbean">Caribbean (Southern)</option>
				<option value="Central America">Central America</option>
				<option value="Europe">Europe</option>
				<option value="Florida">Florida</option>
				<option value="Hawaii">Hawaii</option>
				<option value="Jamaica">Jamaica</option>
				<option value="Las Vegas">Las Vegas</option>
				<option value="Mediterranean">Mediterranean</option>
				<option value="Mexican Riviera">Mexican Riviera</option>
				<option value="Mexico">Mexico</option>
				<option value="Middle East">Middle East</option>
				<option value="New Zealand">New Zealand</option>
				<option value="Northern Europe">Northern Europe</option>
				<option value="Panama Canal">Panama Canal</option>
				<option value="South America">South America</option>
				<option value="South Pacific">South Pacific</option>
				<option value="Transatlantic">Transatlantic</option>
				<option value="USA">USA</option>
				<option value="Eastern US">USA (Eastern)</option>
				<option value="Western US">USA (Western)</option>
			</select>
		</div>
	</div>
	<div class="or">or</div>
	<div class="form-group">
	    <label for="srchDestText2" class="col-lg-4 control-label col-md-6">Type in Destination</label>
	    <div class="col-lg-8 col-md-6">
			<input id="destinationSearch" type="text" class="VP-SearchInput form-control" name="srchDestText2">
		</div>
	</div>
	<div class="form-group">
	    <label for="srchStartTravDate" class="col-lg-4 control-label col-md-6">Departure Date</label>
	    <div class="col-lg-8 col-md-6">
			<select name="srchStartTravDate" class="VP-SearchInput form-control">
				<option value="">Any Date</option>
				<option value="04*2016*">April 2016</option>
				<option value="05*2016*">May 2016</option>
				<option value="06*2016*">June 2016</option>
				<option value="07*2016*">July 2016</option>
				<option value="08*2016*">August 2016</option>
				<option value="09*2016*">September 2016</option>
				<option value="10*2016*">October 2016</option>
				<option value="11*2016*">November 2016</option>
				<option value="12*2016*">December 2016</option>
				<option value="01*2017*">January 2017</option>
				<option value="02*2017*">February 2017</option>
				<option value="03*2017*">March 2017</option>
				<option value="04*2017*">April 2017</option>
				<option value="05*2017*">May 2017</option>
				<option value="06*2017*">June 2017</option>
				<option value="07*2017*">July 2017</option>
				<option value="08*2017*">August 2017</option>
				<option value="09*2017*">September 2017</option>
				<option value="10*2017*">October 2017</option>
				<option value="11*2017*">November 2017</option>
				<option value="12*2017*">December 2017</option>
				<option value="01*2018*">January 2018</option>
				<option value="02*2018*">February 2018</option>
				<option value="03*2018*">March 2018</option>
			</select>
		</div>
	</div>
	<div class="form-group">
	    <label for="srchTravLength" class="col-lg-4 control-label col-md-6">Travel Length</label>
	    <div class="col-lg-8 col-md-6">
			<select name="srchTravLength" class="VP-SearchInput form-control">
				<option value="">Any Length</option>
				<option value="0*2*">0-2 nights</option>
				<option value="3*6*">3-6 nights</option>
				<option value="7*9*">7-9 nights</option>
				<option value="10*14*">10-14 nights</option>
				<option value="14**">over 14 nights</option>
			</select>
		</div>
	</div>
	<div class="form-group">
	    <div class="col-sm-12 btnDiv">
			<button class="btn btn-primary btn-sm" id="vacationButton">Search</button>
		</div>
	</div>
	</form> 
</div>
		    <div role="tabpanel" class="tab-pane" id="profile">...</div>
		    <div role="tabpanel" class="tab-pane" id="messages">...</div>
		    <div role="tabpanel" class="tab-pane" id="settings">...</div>
		  </div>

		</div>
<!-- 				<form class="form-horizontal" method="post" action="/contact" id="editForm" enctype="multipart/form-data">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<div class="form-group">
				    <label for="name" class="col-sm-3 control-label">
				        Name</label>
				    <div class="col-sm-6">
				        <input name="name" type="text" class="form-control" id="name" />
				    </div>
				</div>
				<div class="form-group">
				    <label for="email" class="col-sm-3 control-label">
				        Email</label>
				    <div class="col-sm-6">
				        <input name="email" type="text" class="form-control" id="name" />
				    </div>
				</div>
				<div class="form-group">
				    <label for="inquiry" class="col-sm-3 control-label">
				        Inquiry</label>
				    <div class="col-sm-6">
				    	<textarea rows="8" name="inquiry" class="form-control" id="description"></textarea>
				    </div>
				</div>
				<div class="row">
				    <div class="col-sm-12 modalButtons header">
				        <button type="submit" class="btn btn-primary btn-sm">
				            Send</button>
				    </div>
				</div>
			</form> -->
		</div>
	</div>
</div>

<script type="text/javascript">
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>