<style type="text/css">
	.landingRow{
		/*background: blue;*/
		background-image: url('/assets/background.png');
		height: 50px;
	}
	.topRow{
		margin-top: 20px;
		/*height: 5000px;*/
	}
	.imgDiv img{
		width: 70%;
		/*display: inline;*/
		vertical-align: top;
		margin: 3%;
	}
	.leftImgDiv{
		text-align: center;
		/*border: 1px solid black;*/
	}
	.rightImgDiv{
		text-align: center;
	}
	.rightTextDiv{
		text-align: justify;
	}
	.leftTextDiv .block{
		font-size: 0.9em;
	}
	.aboutHeader{
		margin-top: 20%;
		text-align: center;
	}
	.awardsHeader{
		margin-top: 18%;
		margin-bottom: 5%;
		text-align: center;
	}
	.blue{
		color: #188eab;
		text-align: right;
	}
	.block{
		display: block;
	}
	.lastRow{
		/*margin-bottom: 5%;*/
	}
</style>
<form id="regularSearchForm" method="post" action="https://evov2.faregrabbr.com/remoteflightmultisearch.php" novalidate>
	<input type="hidden" name="type" value="roundtrip">
	Origin: <input type="text" name="citypairs[0][origin]">
	Destination: <input type="text" name="citypairs[0][destination]">
	Depart: <input type="text" name="citypairs[0][departdate]">
	Return: <input type="text" name="citypairs[0][returndate]">
	<input type="submit" value="submit">
</form>