<form id="regularSearchForm" method="post" action="https://evov2.faregrabbr.com/remoteflightmultisearch.php" novalidate>
	<input type="hidden" name="type" value="roundtrip">
	<input type="text" name="flightLeg.origin">
	<input type="submit" value="submit">
</form>