<style type="text/css">
	.landingRow{
		background: linear-gradient(to bottom right, #1cb1d1, #3d515b);
		/*background-image: url('/assets/background.png');*/
		height: 50px;
	}
	.topRow{
		margin-top: 20px;
		/*height: 5000px;*/
	}
	.imgDiv img{
		width: 70%;
		/*display: inline;*/
		vertical-align: top;
		margin: 3%;
	}
	.leftImgDiv{
		text-align: center;
		/*border: 1px solid black;*/
	}
	.rightImgDiv{
		text-align: center;
	}
	.rightTextDiv{
		text-align: justify;
	}
	.leftTextDiv .block{
		font-size: 0.9em;
	}
	.aboutHeader{
		text-align: center;
	}
	.awardsHeader{
		margin-top: 18%;
		margin-bottom: 5%;
		text-align: center;
	}
	.blue{
		color: #188eab;
		text-align: right;
	}
	.block{
		display: block;
	}
	.lastRow{
		/*margin-bottom: 5%;*/
	}
	.text p{
		font-size: 0.9em;
	}
</style>
<div class="row landingRow">
</div>
<div class="container">
	<div class="row topRow">
		<div class="col-sm-3 leftImgDiv imgDiv">
		</div>
		<div class="col-sm-6 rightTextDiv text">
		<h3 class="aboutHeader">Terms and Conditions</h3>
			<p>Pricing. All rates are per person based on double occupancy, subject to availability at time of booking, and may increase without notice. Non-discountable fees (port charges) are included in pricing unless otherwise stated. Airfare, air taxes, transfers, government fees and taxes are additional unless otherwise stated. A booking processing fee is additional and subject to change without notice. Ask your agent for details. Information and pricing is subject to change without notice. In the event of a pricing error, or any other misrepresentation or omission, we reserve the right to adjust the pricing or make any other corrections.</p>

			<p>Documentation. It is the passenger’s responsibility to determine and provide proper identification, documentation (including passport and visas if required), and inoculations for the destinations to which he/she is traveling. The traveler should verify requirements well in advance of travel to insure compliance. Passengers who do not meet these requirements will be denied boarding by cruise lines and airlines. Archer Travel Service, Inc. is not responsible for providing documentation and inoculation information.</p>

			<p>Cancellation policies and fees. It is the passenger’s responsibility to know and understand the operator’s and Archer Travel Service, Inc.’s cancellation penalties. You may visit the operator’s website to view those policies. The policies of Archer Travel Service, Inc. are set forth as follows: Archer Travel Service, Inc. is not responsible or liable for any negligent acts or defaults of the operator or anyone else not under our control should you wish to cancel your travel plans, your right to a refund is limited by the operator’s terms and Archer Travel Service, Inc.’s policies. In the event you cancel your trip once it has been deposited, there will be a $50 per cabin cancellation fee assessed by Archer Travel Service, Inc. in addition to the operator’s cancellation fees. The operator will credit your credit card account the reimbursable funds due you and Archer Travel Service, Inc. will charge your credit card for the cancellation fee. Your credit card statement reference line will display navigant international and will not reflect a description of this fee. The operator(s) and Archer Travel Service, Inc. may change their cancellation policies at any time. Cancellations are subject to the protection of agency revenue.</p>

			<p>Travel insurance is strongly recommended. The purchase of optional travel insurance that protects you against potential losses is highly recommended. It can be purchased from various suppliers at the time travel arrangements are made. Review the coverage and policies carefully. It is your responsibility to purchase coverage directly from the travel insurance supplier.</p>

			<p>Travel documents. You will receive travel documents approximately 1-2 weeks prior to the departure date. When you receive your tickets and any and all documents, it is the sole responsibility of the passenger named on the reverse side to review and verify all information. Contact Archer Travel Service, Inc. immediately if changes or corrections are required.</p>

			<p>Liability limits. Archer Travel Service, Inc. is acting as an intermediary and agent for the cruise line. It is not involved in selling services, or in accepting reservations or bookings for services that are not directly supplied by this agency such as air transportation, hotel accommodations, ground transportation, meals, tours, cruises, etc.) Archer Travel Service, Inc. therefore shall not be responsible for breach of contract or any intentional or careless actions or omissions on the part of such cruise lines and suppliers, which result in any loss, damage, delay, or injury to you, your travel companion(s) or group members. Archer Travel Service, Inc. shall not be responsible for any injuries, damages, or losses caused to any traveler. By embarking on his/her travel, the passenger voluntarily assumes all risk involved with such travel, whether expected or unexpected.</p>

			<p>Elements of this website are protected by copyright, trade dress, and other laws and may not be copied or imitated whole or in part. No logo, graphic, sound, image, or html coding from this website may be copied, altered, or retransmitted unless expressly permitted by Archer Travel Service, Inc..</p>

			<p>Archer Travel Service, Inc. makes no representations about the suitability of the information contained in the pages and related graphics published on this website for any purpose. Such documents are provided “As is” without warranty of any kind. VacationPORT hereby disclaims all warranties and conditions with regard to this information, including all implied warranties and conditions of merchantability fitness, a particular purpose, title and non-infringement. In no event shall VacationPORT be liable for any special, indirect or consequential damages whatsoever resulting from the loss of use, data or profits, whether in an action in contract or an act of tort, arising out of or in connection with the use or performance of information available from this website.</p>

			<p>Third party data, description and information Some of the materials within this website have been prepared and are maintained by the parties not under the control of VacationPORT while VacationPORT, believes materials to be accurate, their presence on this website is not and should not be constructed as an endorsement by Archer Travel Service, Inc., or representation by Archer Travel Service, Inc., that such materials are accurate. Archer Travel Service, Inc. shall not be responsible for damages or losses incurred by any user as a result of such user’s use of, or reliance of such third party materials.</p>

			<p>Links to third-party sites General limitation of liability: in no event shall Archer Travel Service, Inc. including its owners, representatives, affiliates, or providers (collectively, the “Covered parties”), be liable for any injury, death, loss, claim, damage, act of god, accident, delay, or any special, exemplary, punitive, incidental or consequential damages of any kind, whether based in contract, tort or otherwise, which arise out of or are in any way connected with any use of this site or with any delay or inability to use this site, or for any information, software, products or services obtained through this site, even if Archer Travel Service, Inc. has been advised of the possibility of such damages.</p>

			<p>Further, VacationPORT, its partners and directors, accept no responsibilities for any damage and/or delay due to provider cancellations, shortages, sickness, pilferage, labor disputes, machinery breakdown, quarantine, government restraints, weather or causes beyond the covered parties’ control. No responsibility is accepted for any additional expense, omissions, delays, re-routing or acts of any governmental authority. No covered party shall be responsible for any provider’s breach of any warranty including, but not limited to, implied warranties of fitness for a particular purpose or of merchantability, nor shall any covered party be responsible for any other wrongdoing of a provider (including any liability in tort), as to any products and/or services available through this site. No covered party shall be responsible for any provider’s failure to comply with these terms and conditions nor for any provider’s failure to comply with applicable federal, state and local law including, without limitation, laws governing the sale, warranty, and return of perishables.</p>

			<p>If, notwithstanding the above, a covered party is found liable for any loss or damage relating to the use of this site, user agrees the liability of any such party shall in no event exceed the fee or charge to the user assessed by Archer Travel Service, Inc. for making a purchase.</p>

			<p>Trademarks Archer Travel Service, Inc. is a trademark. Other product and company names mentioned herein may be the trademarks of their respective owners.</p>

			<p>We reserve the right to correct errors. All offers are subject to availability and may change without notice. In the event of a pricing error, or any other misrepresentation or omission, we reserve the right to adjust the pricing or make any other corrections.</p>
		</div>
		<div class="col-sm-3">
		</div>
	</div>
</div>